<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center blue-text">JANNDE</h1>
            <div class="row center">
                <h5 class="header col s12 light">Apprendre autrement</h5>
            </div>
                <div class="row center">
                    <a href=" " id="download-button" class="btn-large waves-effect waves-light blue lighten-1">GET STARTED FOR FREE</a>
                </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><%= image_tag 'background1.jpg' %></div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><%= image_tag 'background4.jpg', size: "90" %></h2>
                    <h5 class="center">Des cours en ligne</h5>

                    <p class="light">Des cours de tous les niveaux, dispensé par des professeurs compétant pour te permettre de revenir sur les cours autant de fois que nécessaire pour ainsi mieux comprendre et avoir toutes les réponses à tes questions.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="large material-icons">description</i></h2>
                    <h5 class="center">Des exercices corrigés</h5>

                    <p class="light">Tu veux te perfectionner dans certaines matières dont tu te débrouilles déjà et progresser dans celle où tu te débrouilles moins? Alors tu as frappé à la bonne porte. Janndé te propose des exercices corrigés de toutes les matières.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><%= image_tag 'quiz.png', size: "90" %></h2>
                    <h5 id="milieu" class="center">Des quizs</h5>

                    <p class="light">Tu veux t’entrainer? Tu veux être sûr d’avoir bien maîtriser tes cours avant le devoir, la composition? Parfait, avec les quizs de Janndé, tu auras toutes les réponses.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <br><br>
        </div>
    </div>
    <div class="parallax"><%= image_tag 'background2.jpg' %></div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><%= image_tag 'suivi.png', size: "90" %></h2>
                    <h5 class="center">Évaluateur de niveau</h5>

                    <p class="light">Tu souhaites t’évaluer? Janndé te le permet et guidera ensuite vers des exercices en fonction de ton résultat.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="large material-icons">description</i></h2>
                    <h5 class="center">Des mémoires,thèses</h5>

                    <p class="light">Sur Janndé, tu peux disposer des meilleurs mémoires, thèses classés par domaine pour t'aider à rédiger le tien.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><%= image_tag 'cv.png', size: "90" %></h2>
                    <h5 id="milieu" class="center">Des CV, lettres...</h5>

                    <p class="light">Janndé propose de bon exemples de CV, de lettre de motivation, de conseils et astuces pour un bon entretien d'embauche, ...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <br><br>
        </div>
    </div>
    <div class="parallax"><%= image_tag 'rrrr.jpg' %></div>
</div>